<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<h1>Search Results</h1>
<form method="GET" action="{% url 'search' %}">
    <input type="text" name="query" placeholder="Enter stock ticker, sector, or date">
    <button type="submit">Search</button>
</form>

<h2>Results</h2>
{% if results %}
    <table>
        <thead>
            <tr>
                <th>Stock Ticker |</th>
                <th>Company Name |</th>
                <th>Current Price |</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in results %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.company_name }}</td>
                <td>${{ stock.current_price }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
<form method="GET" action="{% url 'export_to_pdf' %}">
        <input type="hidden" name="query" value="{{ query }}">
        <button type="submit">Export to PDF</button>
    </form>
{% else %}
    <p>No results found.</p>
{% endif %}
